<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, font-src 'self'"
    />
    <title>Test Social Login</title>
  </head>
  <body>
    <!-- 카카오 로그인 -->
  
    <h1>구글 프로필</h1>
    <article>
      <div><h2><%= accounts_info.name %></h2></div>
      <img src="<%= accounts_info.picture %>"></img>
    </article>
  </body>
</html>
