<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, font-src 'self'"
    />
    <title>Test Social Login</title>
  </head>
  <body>
    <!-- 카카오 로그인 -->
    <div>
      <H1>카카오 로그인</H1>
      <!-- {% if %} -->
      <a href="/oauth/kakao">카카오 로그인</a>
      <a href="/oauth/kakao/account_info">프로필</a>
      <a href="/oauth/kakao/logout">로그아웃</a>
      <a href="/oauth/kakao/unlink">인증 삭제</a>
      <a href="/oauth/login/user_info">소셜로그인</a>
    </div>
    <div>
      <H1>구글 로그인</H1>
      <a href="/oauth/google">구글 로그인</a>
      <a href="/oauth/google/account_info">구글 프로필</a>
      <a href="/oauth/google/logout">구글 로그아웃</a>
      <script src="https://accounts.google.com/gsi/client" async defer></script>
    </div>
    <div>
      <H1>게시글</H1>
      <a href="/post/list">게시글 리스트</a>
      <a href="/post/write">글 작성하기</a>
    </div>
  </body>
</html>
